.text-center {
  text-align: center;
}

.bg-red {
  background-color: red;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.button {
  font-size: 1.5rem;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  width: 66px;
  background-color: #000000c7;
  color: white;
}

.bg-grey {
    background-color: #0000009e;
}

.row {
  margin: 8px 0;
}

.row input {
  margin: 0;
  padding: 10px 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.4rem;
}
